*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(208 105 255) , rgb(216 255 122 / 62%) );
}
.container{
    background-color: rgb(224 222 224 / 20%);
    width: 500px;
    /* height: 530px; */
    margin-top: 40px;
    border-radius: 15px;
    /* backdrop-filter: blur(90px); */
    box-shadow: 10px 21px 20px 10px #44444433;    
    border-top:4px solid rgb(58 58 58 / 18%);
    border-left: 4px solid rgb(58 58 58 / 18%);
}
.container header{
    font-size: 2rem;
    color: rgb(111, 0, 155);
    font-weight: 700;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ff68fa80;
}
.container header i{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.container.active header i{
    display: block;
    margin: 9px 12px 6px 4px;
    font-size: 30px;
  }
.container .info-part{
    /* display: none; */
    margin: 20px 15px 11px;
}
.container.active .info-part{
    display: none;
}
.info-text{
    display: none;
    font-size: 25px;
    margin: 5px 0px;
    /* background: red; */
    text-align: center;
    border-radius: 5px;
    padding: 15px 15px;

}
.info-text.error{
    display: block;
color: rgb(75, 0, 0);
background: rgb(255 161 161 / 38%);
    border: 1px solid #d26f6f;
}
.info-text.pending {
    display: block;
    color: rgb(33 92 0);
    background: rgb(136 255 136 / 38%);
    border: 1px solid #419241;
}
.info-part :where(input, button){
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}
.info-part input{
    text-align: center;
    border: 1px solid rgba(233, 233, 233, 0.2599);
    background-color: rgba(255, 164, 243, 0.1);;
    color: black;
    margin: 5px 0px 15px 0px;
}
.info-part input:is(:focus, :valid){
    border:2px solid purple;
}
.info-part .separator{
    width: 100%;
    height: 1.6px;
    margin: 25px 0;
    background: rgba(255, 164, 243, 0.493);;
    background-color: rgb(104, 103, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
}
.separator::before{
    content: "or";
    padding: 0 5px;
    background: rgba(111, 0, 155);
    font-size: 25px;
    border-radius: 50%;
    color: rgb(240, 235, 235);
}
.info-part button{
    background-color: rgba(111, 0, 155,0.5);
    color: aliceblue;
    cursor: pointer;
    margin: 15px 0;
}

.container .Weather-part{
    display: none;
    margin:30px 0;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.container.active .Weather-part{
    display: flex;
}
.Weather-part img{
    max-width: 180px;
}
.Weather-part .temp{
    display: flex;
    font-size: 50px;
    font-weight: 300;
}
.Weather-part .temp .num{
    font-weight: 900;
}
.Weather-part .temp .deg{
    font-size: 35px;
    display: block;

}
.Weather-part .weather{
    font-size: 20px;
    text-align: center;
    margin: 5px 5px 5px;
}
.Weather-part .location{
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.location i{
    font-size: 20px;
    margin: 10px;
}
.Weather-part .bottom-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #000; */
    border-top: 1px solid rgba(95, 28, 95, 0.445);
}
.bottom-details .column-feels{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px 7px 7px 7px;
}
.bottom-details .column-humidity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px 7px 7px 7px;
}
.bottom-details i{
    font-size: 25px;
    color: purple;
    margin: 10px 17px;
}

.column-humidity{
    border-left: 1px solid rgba(95, 28, 95, 0.445);
}
.bottom-details .details p{
   font-size: 20px;
}
.details .temp, .column-humidity span{
    font-size: 20px;
}
.details .temp .deg{
    margin: 0;
    font-size: 20px;
    pad: 0 2px 0 1px;
}